<div class="timing_listing-wrapper mb-5">
       
  <kendo-grid [resizable]="true" [kendoGridBinding]="gridData" [height]="210">
      <kendo-grid-column field="OPTM_ENTRYDATE" title="Entry Date" width="90"> <!--format="{0:c}"-->
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.OPTM_ENTRYDATE | date: dataItem.CurrentEntryDate}}
            </ng-template>  
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_STARTDATETIME" title="{{language.signintime}}">
          <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.OPTM_STARTDATETIME | date: dataItem.CurrentDateFormat.DateFormat}}
              </ng-template>  
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_ENDDATETIME" title="{{language.signouttime}}">
          <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.OPTM_ENDDATETIME | date: dataItem.CurrentDateFormat.DateFormat}}
              </ng-template> 
      </kendo-grid-column>
     <kendo-grid-column width="88" field="DifferenceCal" title="{{language.difference}}">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.DifferenceCal }}
                </ng-template> 
        </kendo-grid-column>
  </kendo-grid>
</div>  