.timing_listing-wrapper .k-grid th {
    padding: .75rem .75rem;
    border-width: 0 0 1px 1px;
    white-space: nowrap;
}
.timing_listing-wrapper .k-grid .k-alt {
    color: #212529;
    background-color: rgba(33,37,41,0.03);
}