<style>
.opti_error-msg {
    color: red !important;
    font-size: 12px;
    
}
</style>

<main role="main" class="main-container">
    <div class="content">
        <div class="col-left">
        </div>
        <div class="col-right">
            <div class="login-box mt-5 mb-4">
                <h1 class="text-center mb-4">{{language.attendance}}</h1>
                <form autocomplete="off" #signInForm="ngForm">
                    <div class="form-group">
                        <label for="email" class="form-label">{{language.userid}} *</label>
                        <span *ngIf="email.errors?.required && email.touched" class="float-right opti_error-msg">{{language.useridreq}}</span>                        
                        <input autofocus type="text" autocomplete="off" class="form-control" id="email" required #email = ngModel name="email" placeholder="{{language.useridplaceholder}}" value="" [(ngModel)]="loginId" (blur)="OnUserIdBlur()">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">{{language.password}} *</label>
                        <span *ngIf="PasswordBlank.errors?.required && PasswordBlank.touched" class="float-right opti_error-msg">{{language.passwordreq}}</span>
                        <input type="password" class="form-control" autocomplete="off" id="password" required #PasswordBlank = ngModel name="password" placeholder="{{language.passwordplaceholder}}" [(ngModel)]="password" (blur)="OnPasswordBlur()"><!--[disabled]="disablePassword" -->
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="form-company">{{language.company}}</label>
                      <select type="company" name="form-company" [(ngModel)]="selectedValue" class="form-username form-control" id="form-company" [disabled]="disableDropDown"
                        (change)="OnDropDownBlur($event)">
                         
                  <option *ngFor="let cmp of listItems" name="selcompany" [ngValue]="cmp">{{cmp.cmpName}}
                     ({{cmp.OPTM_COMPID}})</option> 
              </select> 
                    
                    </div>
                    <div class="form-group" *ngIf="showSignIn">
                        <div class="mt-4">
                            <input class="btn btn-outline-light btn-block" type="submit" value="Sign In" [disabled]="clickSignIn" (click)="OnSignIn()">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="showGrid && showSignOut">
                        <div class="row">
                            <div class="col-6 mt-4 mt-md-4 mt-lg-4 mt-xl-4">
                                <button class="btn btn-danger btn-block" type="submit" (click)="OnSignOut()">{{language.signout}}</button>
                               
                            </div>
                            <div class="col-6 mt-4 mt-md-4 mt-lg-4 mt-xl-4">
                                <button class="btn btn-light btn-block" type="button" (click)="openModal(template)">{{language.exception}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <app-listing *ngIf="showGrid" [gridData]="recordModel"></app-listing>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{language.signout_date_time}}</h4>
            <button type="button" id = "closeButton" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body px-5 pb-4">
            <form>
                <div class="form-group mt-2">
                    <label for="signInTime" class="form-label">{{language.signintime}}</label>
                    <!--<input autofocus type="text" autocomplete="off" class="form-control" name="signInTime" id="signInTime" placeholder="SignIn Time" 
                    value="" [(ngModel)]="showInTimeException | date:'dd/MM/yyyy HH:mm'" [disabled]="showGrid"> -->
                    <input  type="datetime" class="form-control" name="signInTime" id="signInTime" placeholder="{{language.signin_placeholder}}"
                    [value]="showInTimeException | date: SAPDateFormat[0].DateFormat" [disabled]="showGrid">                    
                </div>

                <div class="form-group mt-2">
                    <label for="SignOutTime" class="form-label">{{language.signouttime}}</label>
                    <input  autofocus autocomplete="off" [owlDateTime]="dt1" class="form-control" name = "OutDateTime" [owlDateTimeTrigger]="dt1" placeholder="{{language.signout_placeholder}}" [(ngModel)]="OutDateTime">
                    <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 col-md-6 offset-md-3 mt-3 text-center">
                        <input class="btn btn-primary btn-block" type="submit" value="Update" (click)="onUpdate()">
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</main>